<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomaly Detector</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="title">
    <label>Analysis system for anomalies in the autonomous vehicles signals</label>
</div>
<div class="select">
    <div class="import" th:include="importCSV.html"></div>
    <div class="headers" th:include="selectHeaders.html"></div>
    <div class="methods" th:include="selectMethod.html"></div>
</div>
<div class="charts" th:include="plotCharts.html"></div>
<div class="credits">
    <label>&copy; Marcin Rak &nbsp; Silesian University of Technology &nbsp; 2022</label>
</div>
</body>
</html>